# Игнорировать виртуальное окружение
venv/

# Игнорировать конфигурационные файлы IntelliJ IDEA
.idea/

# Игнорировать Excel файлы
*.xlsx

# Игнорировать текстовые файлы
*.txt

# Игнорировать CSV файлы
*.txt
